<template>
  <first-message></first-message>
</template>

<script>
import FirstMessage from '~/components/alerts/firstMessage.vue'

export default {
  components: { FirstMessage },
}
</script>

<style></style>
