<template>
  <div class="page">
    <p v-if="raider" class="message">
      {{ raider }} und {{ viewers }} Zuschauer sind bereit für den Abflug!
    </p>
    <transition-group name="show" tag="div" class="viewer">
      <img
        v-for="person in persons"
        :key="person.i"
        class="person"
        src="~/assets/images/person.svg"
        :style="{
          left: person.left,
          bottom: person.bottom,
          filter: person.greyscale,
        }"
      />
    </transition-group>
  </div>
</template>

<script>
import { io } from 'socket.io-client'

export default {
  data() {
    return {
      viewers: 0,
      raider: '',
      persons: [],
    }
  },
  mounted() {
    const socket = io(process.env.CHAT_SERVER || 'https://twitch.0to100.ink')
    socket.on('raid', (data) => {
      this.viewers = data.viewers
      this.raider = data.raider
      for (let i = 0; i < data.viewers && i < 50; i++) {
        this.persons.push({
          i,
          left: this.randomNumber(0, 1840) + 'px',
          bottom: -this.randomNumber(0, 10) + 'px',
          greyscale: 'grayscale(' + this.randomNumber(0, 100) + '%)',
        })
      }
      setTimeout(() => {
        this.viewers = 0
        this.raider = ''
        this.persons = []
      }, 15000)
    })
  },
  methods: {
    randomNumber(min, max) {
      return Math.floor(Math.random() * (max - min + 1)) + min
    },
  },
}
</script>

<style lang="scss" scoped>
.page {
  background-color: transparent;
  width: 100vw;
  height: 100vh;
}

.viewer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.person {
  position: absolute;
  width: 80px;
}

.message {
  position: absolute;
  bottom: 85px;
  left: 40px;
  font-size: 30px;
  color: white;
}

.show-enter-active,
.show-leave-active {
  transition: all 2s;
  &:nth-child(2n) {
    transition: all 1s;
  }
  &:nth-child(4n) {
    transition: all 3s 1s;
  }
  &:nth-child(5n) {
    transition: all 2s 1s;
  }
  &:nth-child(8n) {
    transition: all 2s 2s;
  }
}
.show-enter,
.show-leave-to {
  opacity: 0;
  transform: translateY(80px);
}
</style>
