<template>
  <ticket :data="data"></ticket>
</template>

<script>
import { io } from 'socket.io-client'
import Ticket from '~/components/alerts/ticket.vue'

export default {
  components: {
    Ticket,
  },
  data() {
    return {
      data: null,
      queue: [],
      running: false,
    }
  },
  mounted() {
    const socket = io(process.env.CHAT_SERVER || 'https://twitch.0to100.ink')
    socket.on('ticket', (data) => {
      this.queue.push(data.ticketData)
      if (!this.running) this.startShowingFollows()
    })
  },
  methods: {
    startShowingFollows() {
      this.running = true
      this.data = null
      if (this.queue.length) {
        this.data = this.queue.shift()
        setTimeout(this.startShowingFollows, 8000)
      } else {
        this.running = false
      }
    },
  },
}
</script>

<style></style>
