<template>
  <frame id="frame"></frame>
</template>

<script>
import frame from '~/components/general/frame.vue'

export default {
  name: 'TwitchFrame',
  components: { frame },
}
</script>

<style scoped>
#frame {
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
  margin: 0 0 20px 20px;
}
</style>
