<template>
  <div id="follow">
    <p class="container" :class="{ show: username }">
      <span class="username">{{ username }}</span>
      <span>wilkommen in der Crew</span>
    </p>
  </div>
</template>

<script>
import { io } from 'socket.io-client'

export default {
  name: 'FollowAlert',
  data() {
    return {
      username: '',
      queue: [],
      running: false,
    }
  },
  mounted() {
    const socket = io(process.env.CHAT_SERVER || 'https://twitch.0to100.ink')
    socket.on('follow', (data) => {
      this.queue.push(data.name)
      if (!this.running) this.startShowingFollows()
    })
  },
  methods: {
    startShowingFollows() {
      this.running = true
      this.username = ''
      if (this.queue.length) {
        this.username = this.queue.shift()
        setTimeout(this.startShowingFollows, 8000)
      } else {
        this.running = false
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.container {
  position: relative;
  display: inline-block;
  padding: 0 40px;
  font-size: 42px;
  height: 1em;
  line-height: 1em;
  color: #e0e0e0;
  overflow: hidden;
  opacity: 0;
  transition: opactiy 400ms;

  &:before {
    content: '[';
    left: 0;
  }

  &:after {
    content: ']';
    position: absolute;
    right: 0;
  }

  &:after,
  &:before {
    position: absolute;
    top: 0;

    color: #fbcf83;
    font-size: 1em;
    line-height: 1em;

    -webkit-animation-name: opacity;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
}

.username {
  display: inline-block;
  transform: translateY(100%);
  transition: transform 400ms 1s;
}

.show {
  opacity: 1;
  .username {
    transform: translateY(0);
  }
}

@keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
</style>
