<template>
  <div class="page">
    <memoji />
    <neon text="Booting the stream!" />
    <ttt />
    <chat />
  </div>
</template>

<script>
import ttt from '~/components/games/ttt.vue'
import Chat from '~/components/general/chat.vue'
import memoji from '~/components/general/memoji.vue'
import Neon from '~/components/general/neon.vue'
export default {
  name: 'BootingScene',
  components: { memoji, Neon, ttt, Chat },
}
</script>

<style>
#sign {
  position: absolute;
  top: 100px;
  left: 700px;
}

svg {
  position: absolute;
  top: 100px;
  left: 40px;
  height: 80vh;
}

#ttt {
  position: absolute;
  top: 300px;
  left: 840px;
}

#chat {
  position: absolute;
  top: 250px;
  bottom: 0;
  right: 0;
  padding: 40px 0;
  width: 25vw;
}
</style>
