<template>
  <div class="page">
    <h1>0to100.ink</h1>
    <frame id="screen" />
    <frame id="webcam" />
    <chat />
    <first-message />
  </div>
</template>

<script>
import firstMessage from '~/components/alerts/firstMessage.vue'
import chat from '~/components/general/chat.vue'
import frame from '~/components/general/frame.vue'
export default {
  name: 'CodingScene',
  components: { chat, firstMessage, frame },
}
</script>

<style>
h1 {
  position: absolute;
  bottom: 0;
  right: 0;
  font-weight: 900;
  font-size: 200px;
  color: #252525;
  line-height: 1em;
  margin: 0;
}

#chat {
  position: absolute;
  top: 430px;
  bottom: 0;
  right: 40px;
  width: 520px;
}

#screen {
  position: absolute;
  top: 80px;
  left: 40px;
  width: 1280px;
  height: 800px;
}

#webcam {
  position: absolute;
  top: 80px;
  right: 40px;
  width: 420px;
  height: 280px;
}

#firstMessage {
  position: absolute;
  bottom: 40px;
  left: 40px;
}
</style>
