<template>
  <div class="page">
    <h1>0to100.ink</h1>
    <frame id="screen" />
    <chat />
    <follow />
  </div>
</template>

<script>
import follow from '~/components/alerts/follow.vue'
import chat from '~/components/general/chat.vue'
import frame from '~/components/general/frame.vue'
export default {
  name: 'TalkScene',
  components: {
    frame,
    follow,
    chat,
  },
}
</script>

<style scoped>
h1 {
  position: absolute;
  bottom: 0;
  right: 0;
  font-weight: 900;
  font-size: 200px;
  color: #252525;
  line-height: 1em;
  margin: 0;
}

#chat {
  position: absolute;
  top: 80px;
  bottom: 80px;
  right: 40px;
  width: 480px;
}

#screen {
  position: absolute;
  top: 80px;
  left: 40px;
  width: 1275px;
  height: 840px;
}

#follow {
  position: absolute;
  bottom: 40px;
  left: 40px;
}
</style>
