<template>
  <div id="chat">
    <div v-for="message in messages" :key="message.id" class="message">
      <div class="content">
        <span v-for="part in message.content" :key="part.message">
          <span v-if="part.type === 'text'">{{ part.message }}</span>
          <img v-if="part.type === 'img'" :src="part.source" />
        </span>
      </div>
      <p class="author">{{ message.author }}</p>
    </div>
  </div>
</template>

<script>
import { io } from 'socket.io-client'

export default {
  name: 'Chat',
  data() {
    return {
      messages: [],
    }
  },
  mounted() {
    const socket = io(process.env.CHAT_SERVER || 'https://twitch.0to100.ink')
    socket.on('message', (data) => {
      const { tags } = data
      let { message } = data
      const emoteMessage = []
      let removedLength = 0
      let emotesArray = []
      if (tags.emotes) emotesArray = Object.entries(tags.emotes)
      emotesArray = emotesArray
        .map((emote) => {
          const arr = []
          emote[1].forEach((position) => {
            arr.push({
              emote: emote[0],
              position,
            })
          })
          return arr
        })
        .flat()
        .sort((a, b) => {
          return a.position.split('-')[0] - b.position.split('-')[0]
        })
      emotesArray.forEach((emote) => {
        const [start, end] = emote.position.split('-')
        emoteMessage.push({
          type: 'text',
          message: message.slice(0, +start - removedLength),
        })
        emoteMessage.push({
          type: 'img',
          source: `https://static-cdn.jtvnw.net/emoticons/v1/${emote.emote}/1.0`,
        })
        message = message.slice(+end + 1 - removedLength, message.length)
        removedLength = +end + 1
      })
      emoteMessage.push({
        type: 'text',
        message,
      })
      this.messages.unshift({
        id: tags.id,
        content: emoteMessage,
        author: tags['display-name'],
      })
      setTimeout(() => {
        if (
          this.messages.length &&
          this.messages[this.messages.length - 1].id === tags.id
        ) {
          this.messages.pop()
        }
      }, 40000)
      if (this.messages.length > 20) {
        this.messages.pop()
      }
    })

    socket.on('messagedeleted', (messageId) => {
      const index = this.messages.findIndex((message) => {
        return message.id === messageId
      })
      this.messages.splice(index, 1)
    })
  },
}
</script>

<style scoped>
.message {
  color: #e0e0e0;
  font-size: 30px;
  line-height: 1em;
  opacity: 1;
  margin-bottom: 6px;
}

.message .content {
  display: block;
}

.message .author {
  margin-top: -5px;
  font-size: 18px;
}
</style>
