<template>
  <div class="container">
    <div class="placeholder">
      <article>
        <b>404</b>
        <p>Irgendwie fehlt hier etwas</p>
      </article>
    </div>
    <div class="frame"></div>
  </div>
</template>

<script>
export default {
  name: 'Frame',
}
</script>

<style lang="scss" scoped>
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  article {
    text-align: center;
    color: #bbbaba;
    b {
      display: block;
      font-size: 60px;
      font-weight: 600;
    }
    p {
      margin: 0;
      font-size: 36px;
      font-weight: 400;
    }
  }
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #272727;
  z-index: 2;
}

.frame {
  position: absolute;
  width: 100%;
  height: 100%;
  left: -20px;
  bottom: -20px;
  background-color: #fbcf83;
  &::before,
  &:after {
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    background-color: #fbcf83;
    transform: rotate(45deg);
  }
  &::before {
    left: 6px;
    top: -14px;
  }
  &::after {
    right: -14px;
    bottom: 6px;
  }
}
</style>
