<template>
  <div id="sign">
    <b id="neon">{{ text }}</b>
  </div>
</template>

<script>
export default {
  name: 'NeonSign',
  props: {
    text: {
      type: String,
      default: '0to100',
    },
  },
  mounted() {
    const str = document.getElementById('neon').textContent
    document.getElementById('neon').textContent = ''
    const arr = str.split('')
    const els = []
    arr.forEach((char) => {
      const span = document.createElement('span')
      span.textContent = char
      document.querySelector('#neon').appendChild(span)
      els.push(span)
    })
    setInterval(() => {
      const num = this.getRandomInt(0, els.length - 1)
      els[num].classList.add('animate')
      setTimeout(() => {
        els[num].classList.remove('animate')
      }, 10000)
    }, 10000)
  },
  methods: {
    getRandomInt(min, max) {
      min = Math.ceil(min)
      max = Math.floor(max)
      return Math.floor(Math.random() * (max - min + 1)) + min
    },
  },
}
</script>

<style>
#sign {
  text-align: center;
  user-select: none;
}

#sign b {
  font: 400 120px 'Vibur';
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ffb449, 0 0 0.5em #ffb449,
    0 0 0.1em #ffb449, 0 10px 3px #000;
}

#sign b span {
  animation: blink linear infinite 6s;
}

#neon .animate {
  animation: blink linear infinite 3s;
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: #333;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}
</style>
