<template>
  <div id="ttt">
    <p v-if="!player1">Type: <span class="code">!ttt [number]</span> to play</p>
    <p v-else>
      <span>{{ player1 }}</span> vs. <span>{{ player2 }}</span>
    </p>
    <div id="board">
      <p v-if="winner" class="winner">{{ winner }}</p>
      <div
        v-for="(field, i) in gameState"
        :key="`field-${i}`"
        :class="{ done: winner }"
      >
        <p v-if="field" class="player">{{ field }}</p>
        <p v-else class="number">{{ i }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import { io } from 'socket.io-client'

export default {
  name: 'Ttt',
  data() {
    return {
      player1: null,
      player2: null,
      gameState: {
        1: null,
        2: null,
        3: null,
        4: null,
        5: null,
        6: null,
        7: null,
        8: null,
        9: null,
      },
      gameStarted: false,
      player1Turn: true,
      winner: null,
    }
  },
  computed: {
    currentPlayer() {
      return this.player1Turn ? this.player1 : this.player2
    },
  },
  mounted() {
    const socket = io(process.env.CHAT_SERVER || 'https://twitch.0to100.ink')
    socket.on('ttt', (data) => {
      const { tags, message } = data
      const field = parseInt(message.split(' ')[1])
      if (field >= 1 && field <= 9) {
        if (this.gameStarted && !this.winner) {
          if (tags.username === this.currentPlayer && !this.gameState[field]) {
            this.gameState[field] = tags.username
            this.checkForWin()
            this.player1Turn = !this.player1Turn
          }
          // TODO: Sollte ein Spieler nicht innerhalb von 30s spielen gewinnt der andere
        } else if (this.player1) {
          if (this.player1 !== tags.username) {
            this.player2 = tags.username
            this.gameStarted = true
            if (
              tags.username === this.currentPlayer &&
              !this.gameState[field]
            ) {
              this.gameState[field] = tags.username
              this.player1Turn = true
            }
          }
        } else {
          this.player1 = tags.username
          this.gameState[field] = tags.username
          this.player1Turn = false
        }
      }
    })
  },
  methods: {
    checkForWin() {
      let win = false
      for (let row = 1; row < 4; row++) {
        if (
          this.gameState[row * 3 - 2] === this.currentPlayer &&
          this.gameState[row * 3 - 1] === this.currentPlayer &&
          this.gameState[row * 3] === this.currentPlayer
        ) {
          this.setWinner()
          win = true
        }
        if (
          this.gameState[row] === this.currentPlayer &&
          this.gameState[row + 3] === this.currentPlayer &&
          this.gameState[row + 6] === this.currentPlayer
        ) {
          this.setWinner()
          win = true
        }
      }
      if (
        this.gameState[1] === this.currentPlayer &&
        this.gameState[5] === this.currentPlayer &&
        this.gameState[9] === this.currentPlayer
      ) {
        this.setWinner()
        win = true
      }
      if (
        this.gameState[3] === this.currentPlayer &&
        this.gameState[5] === this.currentPlayer &&
        this.gameState[7] === this.currentPlayer
      ) {
        this.setWinner()
        win = true
      }
      let boardFull = true
      for (let i = 1; i <= 9; i++) {
        if (!this.gameState[i]) boardFull = false
      }
      if (!win && boardFull) this.resetGame()
    },
    setWinner() {
      this.winner = this.currentPlayer
      this.gameStarted = false
      setTimeout(this.resetGame, 10000)
    },
    resetGame() {
      this.player1 = null
      this.player2 = null
      this.gameState = {
        1: null,
        2: null,
        3: null,
        4: null,
        5: null,
        6: null,
        7: null,
        8: null,
        9: null,
      }
      this.gameStarted = false
      this.player1Turn = true
      this.winner = null
    },
  },
}
</script>

<style scoped>
#ttt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

#ttt > p {
  font-size: 28px;
  color: #bababa;
}

#ttt > p span {
  color: white;
}

#board {
  display: grid;
  height: 400px;
  width: 400px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

#board div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
}

#ttt .done {
  opacity: 0.4;
}

#ttt .player {
  margin: 4px;
}

#ttt .number {
  margin: 4px;
  opacity: 0.6;
}

#ttt .winner {
  position: absolute;
  top: 180px;
  left: 0;
  right: 0;
  width: 100%;
  line-height: 1em;
  font-size: 40px;
}
</style>
